.header-content{
    background-color: #96305a;
    opacity: 0.8;
    filter: alpha(opacity=50);
    background-size: 100%;
    width: 100%;
    height: 150px;
    background-position: 'center';
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-content-itens{
    max-width: 400px;
    height: 30px;
    display: flex;
    justify-items: center;
    align-items: end;
    text-align:center;
}

.header-content-itens a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
