.third-content{
    background-image: url('../img/backgroundimage.png');
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: #e4239d;
    opacity: 0.7;
    filter: alpha(opacity=50);
    width: 100%;
    height: 750px;
    padding-top: 20px;
    background-position: 'center';
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.third-content-one{
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-content-one h1{
    color: white;
    font-size: 40px;
}
.third-content-one h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color:cornflowerblue;
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke: 0.8px rgba(11, 33, 61, 0.356);
}
.third-content-one p{
    font-size: 20px;
    color: white;
}

.image-one{
    margin-top: -100px;
}

.third-content-two{
    width: 750px;
    height: 750px;
    color: white;
    display: flex;
}



.third-content-two img{
    width: 350px;
    height: 750px;
    transform:  rotate(10deg);
}